.logo {

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        font-family: 'Boomboom', serif, sans-serif;
        font-weight: 400;

        color: $text;
        
        font-size: 16px;
        letter-spacing: 0.48px;

        text-transform: uppercase;

        margin-top: 3px;
    }

    &__wrapper {
        width: 63px;
        height: 52px;
    }
}