<section class="section  map">
    <div class="container">
        <div class="section__wrapper  map__wrapper">
            <div class="map__contacts">
                <h3 class="section__title  map__title">Как нас найти</h3>
                <div class="contact-block">
                    <h4 class="block__title">Адрес</h4>
                    <span class="block__description">Санкт-Петербург, ул. Большая Конюшенная, д. 19</span>
                </div>
                <div class="contact-block">
                    <h4 class="block__title">Режим работы</h4>
                    <span class="block__description">Ежедневно, с 9:00 до 20:00</span>
                </div>
                <div class="contact-block">
                    <h4 class="block__title">Телефон</h4>
                    <span class="block__description"><a href="tel:88003335599">8 (800) 333-55-99</a></span>
                </div>
                <div class="contact-block">
                    <h4 class="block__title">E-mail</h4>
                    <span class="block__description"><a href="mailto:info@cat-hotel.ru">info@cat-hotel.ru</a></span>
                </div>
                <div class="contact-block">
                    <h4 class="block__title">Социальные сети</h4>
                    <div class="block__social-links">
                        <a href="#" class="social__link">
                            <img src="./assets/img/icons/vk.svg" alt="vk">
                        </a>
                        <a href="#" class="social__link">
                            <img src="./assets/img/icons/inst.svg" alt="inst">
                        </a>
                        <a href="#" class="social__link">
                            <img src="./assets/img/icons/facebook.svg" alt="facebook">
                        </a>
                    </div>
                </div>
            </div>
            <div class="map__map">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A53754114eb71ade7234419c77ecd9efa6ad3c26613c3404a79272ed299e754de&amp;source=constructor" width="800" height="580" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</section>
<footer class="header  footer">
    <div class="container">
        <div class="header__wrapper  footer__wrapper">
            <div class="logo">
                <div class="logo__wrapper">
                    <a class="logo__link" href="./index.html">
                        <div class="logo__image">
                            <img src="./assets/img/header/logo.svg" alt="Лого">
                        </div>
                        <span class="logo__text">Котейка</span>
                    </a>
                </div>
            </div>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-list__item"><a class="link nav-list__link" href="#">Почему мы?</a></li>
                    <li class="nav-list__item"><a class="link nav-list__link" href="./catalog.html">Номера</a></li>
                    <li class="nav-list__item"><a class="link nav-list__link" href="#">Отзывы</a></li>
                    <li class="nav-list__item"><a class="link nav-list__link" href="#">Как нас найти</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer__text">
            <div class="footer__copyright">&copy; 2019 Все права защищены</div>
            <div class="footer__policy">Политика конфиденциальности</div>
        </div>
    </div>
</footer>
