<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="logo">
                <div class="logo__wrapper">
                    <a class="logo__link" href="./index.html">
                        <div class="logo__image">
                            <img src="./assets/img/header/logo.svg" alt="Лого">
                        </div>
                        <span class="logo__text">Котейка</span>
                    </a>
                </div>
            </div>
            <nav class="nav">
                <ul class="nav-list row justify-content-end no-gutters">
                    <li class="nav-list__item"><a class="link nav-list__link" href="#">Почему мы?</a></li>
                    <li class="nav-list__item"><a class="link nav-list__link" href="./catalog.html">Номера</a></li>
                    <li class="nav-list__item"><a class="link nav-list__link" href="#">Отзывы</a></li>
                    <li class="nav-list__item"><a class="link nav-list__link" href="#">Как нас найти</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
